<launch>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
  <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyUSB0"/>
     </node>
<launch>